<h1>New Board</h1>

<div class="errors"></div>

<form>
    <label>Title</label>
    <input 
        type="text"
        name="title"
        value="<%= board.escape('title') %>">

    <button id="save-board">Create New Board</button>

</form>