<div class="panel panel-default">
<h1 class="panel panel-heading"><%= board.escape('title') %></h1>

    <ul id="lists" class="container-fluid list-group ui-sortable panel panel-body">
    </ul>

    <div id="create-new-list">
    </div>

    <br>
    <a href="#">Back to Index</a>
</div>

<script type="text/javascript">
$(function () {
    
});
</script>