<h1>Boards</h1>

<ul>
    <% boards.each( function (board) { %>
        <li><a href="#boards/<%= board.id %>"><%= board.escape('title') %></a></li>
        <button class="delete" data-board-id="<%= board.id %>">Delete</button>
    <% }) %>
</ul>

<div id="create-new-board"></div>