<h1>Boards</h1>

<ul>
    <% boards.each( function (board) { %>
        <li><a href="#boards/<%= board.id %>"><%= board.get('title') %></a></li>
    <% }) %>
</ul>

<a href="#boards/new">Create New Board</a>