<h1><%= board.escape('title') %></h1>

<h2>Lists</h2>
<ul id="lists" class="container-fluid list-group ui-sortable">
</ul>

<div id="create-new-list">
</div>

<br>
<a href="#">Back to Index</a>

<script type="text/javascript">
$(function () {
    $('#lists').sortable();
});
</script>