<h2>New Card</h2>

<div class="errors"></div>

<form id="new-card">
    <label for="card-title">Title</label>
    <input 
        id="card-title"
        type="text"
        value="">

    <input
        id="save-card"
        type="submit"
        value="Save Card">
</form>