<h4>New Card</h4>

<div class="errors"></div>

<form class="new-card">
    <label for="card-title">Title</label>
    <input 
        id="card-title"
        type="text"
        name="title"
        value="">

    <input
        class="save-card"
        type="submit"
        value="Save Card">
</form>