<h3>New List</h3>

<div class="errors"></div>

<form>
    <label>Title</label>
    <input 
        type="text"
        name="title"
        value="">

    <button id="save-list">Create New List</button>
</form>