<h3><%= list.escape("title") %></h3> <button class="delete">Delete List</button>

<ul class="cards container-fluid list-group ui-sortable">
    
</ul>

<div id="new-card-form"></div>

<script type="text/javascript">
$(function () {
    $(".cards").sortable({
        connectWith: ".cards"
    });
});
</script>