<h2>New List</h2>

<div class="errors"></div>

<form>
    <label>Title</label>
    <input 
        type="text"
        name="title"
        value="<%= list.escape('title') %>">

    <button id="save-list">Create New List</button>
</form>